    <h3>ABOUT US</h3>
    	
         <h2 align="center"> Meet Our Team </h2>
			
		<center><table  width="800" border="0">
    		
			<!-- photo -->
			<tr>
				<td> <img src="bh_pic.jpg" alt="Brian Highnam's picture" height="200" width="150"> </td>
				<td> <img src="Michael_Picture.png" alt="Michael Picture" height="200" width="150"> </td>
				<td> <img src="my_pic.jpg" alt="Roberto's Pic" height="200" width="150"> </td>
			</tr>
            
           <!-- Team member name -->
			<tr>
            	<td>Brian Highnam</td>
				<td>Michael Watkinson</td>
            	<td>Roberto Isidro</td>
         	</tr>
            
           <!-- Role -->
    		<tr>
    			<td>Lead/Model</td>
				<td>Designer</td>
				<td>Database Architect</td>
			</tr>
            
		</table></center>