<h3>CONTACT US</h3>
    <center><table>
    	<tr>
        	<td>Subject:</td>
          	<td>
          	<input name="subject" type="text" id="subject" size="30" 
             	    data-validation="length 			alphanumeric" data-validation-length="1-30" />
            	<!-- <select name="subject">
                      <option value="subject1">Subject 1 - This could be any subject</option>
                      <option value="subject2">Subject 2 - This could be any subject</option>
                      <option value="subject3">Subject 3 - This could be any subject</option>
                      <option value="subject4">Subject 4 - This could be any subject</option>
                      <option value="subject5">Subject 5 - This could be any subject</option>
             	</select> -->
         	</td>
     	</tr>
       <tr>
       		<td colspan="2">
          		<textarea name="comment" cols="45" rows="6" id="comment"></textarea><br /><span id="maxlength">100</span> characters left
          	</td>
       </tr>
       <tr>
       		<td colspan="2">
          		<center><input type="button" id="send" value="Send Email"></center>
           </td>
       </tr>
    </table>
    
    <table>
    	<tr>
			<td> <img src="/images/gmail_logo.jpg" alt="Gmail Logo" height="150" width="150"> <p> sentencezing499@gmail.com </p> </td>
			<td> <a href="/images/https://www.facebook.com/sentencezing"> <img src="/assets/facebook_logo.gif" alt="Facebook Link" height="150" width="150"> </a> </td>
			<td> <a href="/images/https://twitter.com/sentencezing"> <img src="twitter logo.jpg" alt="Twitter Link" height="150" width="150"> </a> </td>
			<td> <a href="/images/https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=2KR4VDTNQH2Z2&lc=US&item_name=SentenceZing%20Support%20Donation&item_number=SentenceZing&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donateCC_LG%2egif%3aNonHosted"> <img src="paypal_logo.jpg" alt="Donation Link" height="150" width="150"> </a> </td>
		</tr>
    </table>
    
    </center>